* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  form {
    width: 100%;
    margin-top: 2rem;
    /* text-align: center; */
  }
  .wrapper {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: 400px;
      margin: auto;
      height: 700px;
  }
  .tittle{
      padding: .1rem;
      text-align: center;
      color: blue;
  }
  .wrapper > div{
      padding: 4px;
      margin: 1rem;
  }
  .wrapper > div > input{
      width: 100%;
      padding: .7rem;
      margin-bottom: 2px;
      font-size: .9rem;
      cursor: pointer;
  }
  .wrapper > div > label{
      font-size: 20px;
  }
  a{
     text-decoration: none;
  }
  .back{
      margin-left: 2rem;
  }
  .btn button{
      padding: .9rem;
      background-color: dodgerblue;
      border: none;
      color: white;
      width: 100%;
      font-size: 1rem;
      cursor: pointer;
      margin-bottom: 10rem;
  }
  .btn button:hover{
      background-color: purple;
  }